<%- include("partials/header"); -%>

<!-- My Work -->
<section class="my-work" id="work">
  <h2 class="section__title section__title--work">👋</h2>
  <h2 class="section__title section__title--work">Hey there, I'm Enari</h2>
  <h3 class="section__subtitle section__subtitle--work">
    I’am a Front End Developer in China.
  </h3>

  <div class="portfolio">
    <!-- Portfolio item 01 -->
    <a href="portfolio-item.html" class="portfolio__item">
      <div>
        <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
        <!-- <h3 class="portfolio-title">title</h3>
              <p class="portfolio-content">this is content of this work</p> -->
      </div>
    </a>

    <!-- Portfolio item 02 -->
    <a href="portfolio-item.html" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 03 -->
    <a href="portfolio-item.html" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 04 -->
    <a href="portfolio-item.html" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 05 -->
    <a href="portfolio-item.html" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 06 -->
    <a href="portfolio-item.html" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 07 -->
    <a href="portfolio-item.html" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 08 -->
    <a href="#" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 09 -->
    <a href="#" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>

    <!-- Portfolio item 0 0-->
    <a href="#" class="portfolio__item">
      <img src="img/portfolio-01.png" alt="" class="portfolio__img" />
    </a>
  </div>
</section>
<%- include("partials/footer"); -%>
